<% include ../layouts/sites/header.ejs %>

    <!-- Header -->
    <header>


        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Learn more about children from around the world</div>
                <div class="intro-heading">There are 
                <%= indicatorData[0][0].value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %> people in this world.<br>
                 And <%=Math.round(indicatorData[1][0].value)%>% are under 14</div>
                <a href="#moreinfo" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
       
    </header>
    

    <!-- Services Section -->
    <section id="moreinfo">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.orem ipsum dolor sit amet consectetur.orem ipsum dolor sit amet consectetur.orem ipsum dolor sit amet consectetur.orem ipsum dolor sit amet consectetur.orem ipsum dolor sit amet consectetur.orem ipsum dolor sit amet consectetur.orem ipsum dolor sit amet consectetur.orem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
        </div>
    </section>

    <!-- Search Section -->
    <section id="search" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Search Country</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                
                    <% include ../game/maprender.ejs %>
                </div>
            </div>    
        </div>
    </section>
    

    <!-- aboutme Section -->
    <% include ../layouts/sites/about.ejs %>

    <!-- contact Section -->
    <% include ../layouts/sites/contact.ejs %>

<% include ../layouts/sites/footer.ejs %>
   