<% include ../layouts/sites/header.ejs %>

    <!-- Header -->
    <header>


        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Learn more about children from around the world</div>
                <div class="intro-heading">There are 
                <%= indicatorData[0][0].value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %> people in this world.<br>
                 And <%=Math.round(indicatorData[1][0].value)%>% are under 14</div>
                <a href="#moreinfo" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
       
    </header>
    

    <!-- Services Section -->
    <% include ../layouts/sites/details.ejs %>
    

    <!-- Search Section -->
    <% include ../layouts/sites/search.ejs %>

    <!-- aboutme Section -->
    <% include ../layouts/sites/about.ejs %>

    <!-- contact Section -->
    <% include ../layouts/sites/contact.ejs %>

<% include ../layouts/sites/footer.ejs %>
   