<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
  <div>
  <%= indicatorData[0][0].date %>
  <%= indicatorData[0][0].value %>
  </div>
  <div>
  If you could see this
  <%= indicatorData[1][0].value %> how would you feel
  </div>
</body>
</html>

