<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
  <% indicatorData.forEach(function(country){ %>
  <div>
<h1>BREAKING UP DATA</h1>
  	<% country.forEach(function(instance) { %>
  		<div>
  		<%= instance.date %>
  		</div>
  		<div>
  		<%= instance.value %>
  		</div>

  		<% }) %>
</div>
  	<% }) %>
</body>
</html>

